header {
    background: url("../assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 0 6rem 0;

    display: flex;
    justify-content: center;
    gap: 1.25rem;

    .step-subcontainer {
        .step-circle {
            display: grid;
            place-content: center;
            border: 1px solid $magnolia;
            color: $magnolia;
            font-weight: 500;
            border-radius: 50%;
            width: 2.344rem;
            height: 2.344rem;

            &.active {
                background: $light-blue;
                border: 1px solid $light-blue;
                color: $marine-blue;
            }
        }

        .step-info {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: column;
        padding: 2rem 5rem 0 1.5rem;
        justify-content: flex-start;
        border-radius: .5rem;

        .step-subcontainer {
            display: flex;
            align-items: center;
            gap: 1rem;

            .step-info {
                display: grid;
                text-transform: uppercase;
                color: $magnolia;
                font-size: .875rem;

                span {
                    font-weight: 700;
                    letter-spacing: .08rem;
                }
            }
        }
    }
}