header {
    background: url("../assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 0 6rem 0;

    display: flex;
    justify-content: center;
    gap: 1.25rem;

    .step-subcontainer {
        .step-circle {
            display: grid;
            place-content: center;
            border: 1px solid $magnolia;
            color: $magnolia;
            font-weight: 500;
            border-radius: 50%;
            width: 2.344rem;
            height: 2.344rem;

            &.active {
                background: $light-blue;
                border: 1px solid $light-blue;
                color: $marine-blue;
            }
        }

        .step-info {
            display: none;
        }
    }
}