.main-subcontainer {
    background: $white;
    border-radius: .5rem;
    padding: 1.5rem 1.25rem;
    margin: -4rem 1rem 1rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .text-container {
        h1 {
            color: $marine-blue;
            font-size: 1.5rem;
        }

        p {
            color: $cool-gray;
        }
    }

    form {
        .form-step-1 {
            margin-top: 1rem;
            font-size: .75rem;
    
            .label-error-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-bottom: 0.125rem;
                color: $marine-blue;
    
                .error {
                    justify-self: end;
                    color: $strawberry-red;
                    font-weight: 500;
                }
            }
    
            #name-input, #email-input, #tel-input {
                width: 100%;
                padding: .625rem;
                border-radius: .25rem;
                border: 1px solid $light-gray;
    
                &::placeholder {
                    font-weight: 500;
                    color: $cool-gray;
                }
    
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }

        .btn-container {
            background: $white;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 1rem 1rem;
            display: flex;
            justify-content: space-between;

            @mixin btn {
                border: none;
                border-radius: .5rem;
                padding: .875rem 1rem;
                font-weight: 500;
                font-size: 0.875rem;
            }

            .btn-back {
                @include btn;
                background: none;
                color: $cool-gray;
                display: none;
            }

            .btn-next {
                @include btn;
                background: $marine-blue;
                color: $magnolia;
                margin-left: auto;
            }

            .btn-submit {
                @include btn;
                background: $purplish-blue;
                color: $magnolia;
                display: none;                
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        place-content: center;
        height: 100vh;
    }
    
    .header-main-container {
        display: flex;
    }

    .main-subcontainer {
        margin: unset;

        form {
            .btn-container {
                position: unset;
            }
        }
    }
}